.nav-bg {
    position: sticky;
    top: 0;
    z-index: 10;
    display: none;
    background-color: rgba(44, 44, 44, 0.53);
    backdrop-filter: blur(5px);
    --webkit-backdrop-filter: blur(5px);
}

.show {
    display: block;
}

.nav-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem 2rem;
    margin: 0 20%;
    z-index: 1000;
}

.nav-container a {
    color: rgb(219, 219, 219);
    text-decoration: none;
    font-size: 0.9rem;
    font-family: 'Oswald', sans-serif;
}